.youtube-card-list-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow-y: hidden;
}
.youtube-card-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.menu-open {
  margin-left: 220px;
  transition-property: margin-left;
  transition-duration: 0.6s;
}
@media screen and (min-width: 800px) {
  .menu-open {
    margin-left: 300px;
  }
}
