.youtube-card-container {
  width: 256px;
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
  gap: 12px;
}
.youtube-card-content-top {
  position: relative;
}
.youtube-card-content-top-duration {
  position: absolute;
  bottom: 15
  px;
  right: -5px;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 8px;
  background-color: rgb(17 24 39);
  z-index: 10;
  color: #fff;
}
.youtube-card-content-top-image {
  height: 176px;
  width: 270px;
}
.youtube-card-content-bottom {
  display: flex;
  gap: 8px;
}
.youtube-card-content-bottom-image-wrapper {
  min-width: fit-content;
}
.youtube-card-content-bottom-image {
  height: 36px;
  width: 36px;
  border-radius: 9999px;
}
.youtube-card-content-video-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-wrap: anywhere;
}
.youtube-card-content-video-stats-wrapper {
  font-size: 14px;
  line-height: 20px;
  color: rgb(156 163 175);
}
.youtube-card-content-video-stats-name:hover {
  color: #ccc;
}
.youtube-card-content-video-stats-views::after {
  content: '•';
  margin: 0 4px;
}
