.open-menu-container {
  flex: 1;
  background-color: #202020;
  height: 100vh;
  color: #fff;
}
.open-menu-wrapper {
  padding: 0 8px 18px 8px;
}
.burger-menu {
  padding: 0;
}
.burger-menu:hover {
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo > span.burger-menu {
  display: flex;
  align-items: center;
}
.logo > span.youtube-logo {
  padding: 18px 0;
  display: flex;
  align-items: center;
}
.logo > span > img {
  height: 36px;
}
.item {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 7.5px 0;
  font-size: 12px;
}
.border-row {
  margin: 6px 0px;
  border: 0.5px solid #ccc;
}
.login-link-wrapper {
  font-size: 12px;
}
.login-link-button {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 640px) {
  .open-menu-wrapper {
    padding: 18px 24px;
  }
  .logo > span.youtube-logo {
    padding: 0 16px;
  }
  .logo {
    margin-bottom: 25px;
  }
  .item {
    font-size: 16px;
  }

  .border-row {
    margin: 15px 0px;
  }
  .login-link-wrapper {
    font-size: 16px;
  }
}
